# 基础：量化参数（加载/训练与推理的量化策略）

# 量化方法选择：
# 加载模型时采用的量化方法，可选项为'bnb'、'hqq'、'eetq'、'quanto'和'fp8'，默认为None。
quant_method: null          
quant_bits: null # 量化bits数，默认为None。

# bitsandbytes 相关（加载/训练时）
hqq_axis: null # hqq量化axis，默认为None。
bnb_4bit_compute_dtype: bfloat16  # 计算 dtype（建议 Ampere+ 用 bf16）。
bnb_4bit_quant_type: nf4    # nf4|int4 等。
bnb_4bit_use_double_quant: true   # 双重量化（提高精度，略增计算）。
bnb_4bit_quant_storage: null # bnb量化存储类型，默认为None。


